@{
    ViewBag.Title = "Details";
}
@model List<EAD_Project_Bootstrap.Models.Product>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Product Details
                <small>Explain Your Work</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Product Details</li>
            </ol>
        </div>
    </div>
    @foreach (var a in Model)
    {
    <div class="row">
        <div class="col-md-8">
            <img src="~/img/Products/@a.Image" width="500" height="500" class="img-responsive">
        </div>
        <div class="col-md-4">
            <h3>AJ-@a.ProductID</h3>
            <h3>$@a.Price</h3>
            <h3>Quick Overview</h3>
            <p>@a.Overview</p>

            <h3>Quantity:</h3>
            <input type="text" class="form-control input-sm input-micro" value="1">
            <br />&nbsp;<br />
            @if (Session["UserNameSession"] != null)
            {
                <a href="~/Product/products" class=" btn btn-success"><img alt="Cart" src="~/img/cart.png" width="20" height="20"> Add to Cart</a>
            }
            @if (Session["UserNameSession"] == null)
            {
                <a href="~/Home/login" class=" btn btn-success"><img alt="Cart" src="~/img/cart.png" width="20" height="20"> Add to Cart</a>
            }
        </div>
    </div>
    <br/><br/>
    <div class="col-sm-12">
        <div class="tabbable">
            <!-- Tabs -->
            <ul class="nav nav-tabs product-details-nav">
                <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                <li><a href="#tab2" data-toggle="tab">Specification</a></li>
            </ul>
            <!-- Tab Content (Full Description) -->
            <div class="tab-content product-detail-info">
                <div class="tab-pane active" id="tab1">
                    <h4>Product Description</h4>
                    <p>
                        @a.Description
                    </p>
                    <h4>Product Highlights</h4>
                    <ul>
                        <li>Nullam dictum augue nec iaculis rhoncus. Aenean lobortis fringilla orci, vitae varius purus eleifend vitae.</li>
                        <li>Nunc ornare, dolor a ultrices ultricies, magna dolor convallis enim, sed volutpat quam sem sed tellus.</li>
                        <li>Aliquam malesuada cursus urna a rutrum. Ut ultricies facilisis suscipit.</li>
                        <li>Duis a magna iaculis, aliquam metus in, luctus eros.</li>
                        <li>Aenean nisi nibh, imperdiet sit amet eleifend et, gravida vitae sem.</li>
                        <li>Donec quis nisi congue, ultricies massa ut, bibendum velit.</li>
                    </ul>
                    <h4>Usage Information</h4>
                    <p>
                        Donec hendrerit massa metus, a ultrices elit iaculis eu. Pellentesque ullamcorper augue lacus. Phasellus et est quis diam iaculis fringilla id nec sapien. Sed tempor ornare felis, non vulputate dolor. Etiam ornare diam vitae ligula malesuada tempor. Vestibulum nec odio vel libero ullamcorper euismod et in sapien. Suspendisse potenti.
                    </p>
                    <br /><br />
                </div>
                <!-- Tab Content (Specification) -->
                <div class="tab-pane" id="tab2">
                    <table>
                        <tr>
                            <td>Total sensor Pixels (megapixels)</td>
                            <td>Approx. 16.7</td>
                        </tr>
                        <tr>
                            <td>Effective Pixels (megapixels)</td>
                            <td>Approx. 16.1</td>
                        </tr>
                        <tr>
                            <td>Automatic White Balance</td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td>White balance: preset selection</td>
                            <td>Daylight, Shade, Cloudy, Incandescent, Fluorescent, Flash</td>
                        </tr>
                        <tr>
                            <td>White balance: custom setting</td>
                            <td>YES</td>
                        </tr>
                        <tr>
                            <td>White balance: types of color temperature</td>
                            <td>YES (G7 to M7,15-step) (A7 to B7,15-step)</td>
                        </tr>
                        <tr>
                            <td>White balance bracketing</td>
                            <td>NO</td>
                        </tr>
                        <tr>
                            <td>ISO Sensitivity Setting</td>
                            <td>ISO100 - 25600 equivalent</td>
                        </tr>
                    </table>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>
        }
</div>