@{
    ViewBag.Title = "Home";
}
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('../../img/s1.jpg');"></div>
            <div class="carousel-caption">
                <h1>AJ - Jewellers</h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../../img/s2.jpg');"></div>
            <div class="carousel-caption">
                <h1>All Variety Of Pendants </h1>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('../../img/s3.jpg');"></div>
            <div class="carousel-caption">
                <h1>
                    All Bracelet Styles
                </h1>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>

<div class="section">

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i>Our Introduction</h3>
                <p>We are known for our quality products and trust we make over years, with our clients. We have all kinds of jewellery products for both males and females. Our customer can kepp in touch with us through socail media.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> Our Services</h3>
                <p>We provide our valued customers with a number of services that includes ease in communicating with us through social media, 24/7 customer service center, details to which are available in services page of our website.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Our Products</h3>
                <p>The quality of our products is our pride. We have all kinds of variety of jewllery for both genders. We specialize in gents lockets. You won't find our product in market as we design and get them manufactured on order from factory directly. </p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>AJ Jewellers (PVT) LTD : A Name Of Trust &amp; Quality.</h2>
                <p>A Complete Web Portal To View And Order All Kinds Of Jewellery Right From Your Home. So Order Now !</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Some Of Our Products</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img src="~/img/hp1.jpg" width="350" height="350">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img src="~/img/hp2.jpg" width="350" height="350">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img src="~/img/hp3.jpg" width="350" height="350">
            </div>
            <br>&nbsp;<br>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img src="~/img/hp4.jpg" width="350" height="350">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img src="~/img/hp5.jpg" width="350" height="350">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <img src="~/img/hp6.jpg" width="350" height="350">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>