@{
    ViewBag.Title = "SignUp";
}

        <!-- Page Content -->
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Sign Up
                        <small></small>
                    </h1>
                    <ol class="breadcrumb">
                        <li>
                            <a href="../Home/Index">Home</a>
                        </li>
                        <li class="active">Sign Up</li>
                    </ol>
                </div>
            </div>
            <!-- /.row -->
            <!-- Content Row -->
            <div class="row">
                <!-- Map Column -->
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-8">
                            <h3></h3>
                            <form name="sentMessage" id="contactForm" method="post" action="../../Home/insertClient" novalidate>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>First Name:</label>
                                        <input type="text" class="form-control" name="First_Name" required data-validation-required-message="Please Enter Your First Name.">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Last Name:</label>
                                        <input type="text" class="form-control" name="Last_Name" required data-validation-required-message="Please Enter Your Last Name.">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Email:</label>
                                        <input type="text" class="form-control" name="Email" required data-validation-required-message="Please Enter Your Email">
                                        <p class="help-block"></p>
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Mailling Address:</label>
                                        <input type="text" class="form-control" name="Mailling_Address" required data-validation-required-message="Please Enter Your Mailing Address.">
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Contact Number:</label>
                                        @*<input type="text" class="form-control" name="MobileNo" id="mob1">*@
                                        @Html.TextBox("Phone", "", new { @class = "form-control" })
                                        <p class="help-block"></p>
                                    </div>
                                </div>


                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Description:</label>
                                        @*<input  class="form-control" name="cat1" id="cat1" required data-validation-required-message="Please enter your phone number.">*@
                                        <select name="Description" class="form-control">
                                            <option value="Company">Company</option>
                                            <option value="Individual">Individual</option>
                                        </select>
                                    </div>
                                </div>

                                @*@Html.TextBox("City", "", new { @class = "form-control" })*@

                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Method Of Payment:</label>
                                        <label for="paysys_id---0" class="radio"><input type="radio" name="Payment_Method" checked="checked" value="PayPal" id="paysys_id---0">&nbsp;PayPal : Pay With Your Paypal Account</label><br />
                                        <label for="paysys_id---1" class="radio"><input type="radio" name="Payment_Method" value="Credit Card" id="paysys_id---1">&nbsp;Credit Card : Visa / Mastercard / American Express / Discover</label><br />
                                        <label for="paysys_id---2" class="radio"><input type="radio" name="Payment_Method" value="Cash" id="paysys_id---2">&nbsp;Cash / Money Order : Mail Your Payment To Us</label>
                                    </div>
                                </div>

                                <div id="success"></div>
                                <!-- For success/fail messages -->
                                <button type="submit" class="btn btn-primary pull-right">Next</button>
                                <br>&nbsp;<br>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Contact Details Column -->
                <div class="col-md-4">
                    <div class="controls">
                        <label>Use Facebook or Twitter Account For Registration</label>
                        <br>&nbsp;<br>
                        <p>
                            <a href="https://www.facebook.com/"><img alt="Login With Facebook" width="250" height="50" src="~/img/fbu.png"></a>
                            <br>&nbsp;<br>
                            <a href="https://twitter.com/"><img alt="Login With Twitter" width="250" height="50" src="~/img/twu.png"></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
