@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
            </li>
            <li class="active">About</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <img src="~/img/j1.jpg" width="450" height="250" />
    </div>
    <div class="col-md-6">
        <h2>Welcome to 'AJ Jewellers'</h2>
        <p>AJ Jewellers is a group shops in different locations of pakistan. We have four branches in total. We are working together to bring our customers quality products. We assure reliability and longlastability of our prodcuts.<br /><br />Our products gets manufactured from different factories of Ghangzou China. We have our own import as well. Our products are not available in market as we our products manufactured on our own designs. Our products include Rings, Pendants, Necklaces, Bracelet and Ear Rings for both males and females. <br /><br /> Our main branch is in Shah Alam Market, Lahore which is responsible for supply to other bracnches and importing good from other countries.</p>
    </div>
</div>
<!-- Team Member Profiles -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Our Branches</h2>
    </div>
    <div class="col-sm-4">
        <img src="~/img/j2.jpg" width="350" height="250" />
        <h3>
            Pace Gulberg-III, Lahore.
        </h3>
        <p>This branch specializes in Antique Jewellery.</p>
    </div>
    <div class="col-sm-4">
        <img src="~/img/j3.jpg" width="350" height="250" />
        <h3>
            The Forum Mall Clifton Karachi.
        </h3>
        <p>This branch specializes in gold variety.</p>
    </div>
    <div class="col-sm-4">
        <img src="~/img/j4.jpg" width="350" height="250" />
        <h3>
            Centaurus Mall, Islamabad.
        </h3>
        <p>This branch specializes in artificial jellewery. </p>
    </div>
</div>
    <br>&nbsp;<br>
</div>