@{
    ViewBag.Title = "Services";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Services
                <small>What We Do</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Services</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/img/services.jpg" width="1140" height="400">
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Paragraphs -->
    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">Our Premium Services</h2>
            <p>Regardless of who our customer is, we provide our premium services to everyone without discrimination. Our services include provision of quality products and on-time delivery. 24/7 Customer care center and social media communication and full control over orders placed.</p>
        </div>
        <div class="col-md-4">
            <h2 class="page-header">Something More</h2>
            <p>Still wanna ask something? Refer to our FAQ section or leave us a message.</p>
            <a href="~/Other/Faq" class="btn btn-primary">Click Me!</a>
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Images -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Services</h2>
        </div>
        <div class="col-sm-4">
            <img src="~/img/diamond.png" class="img-responsive center-block">
            <h3 class="text-center">Quality Products</h3>
            <p class="text-center">We have best quality products and we sell them with pride. We also provide our clients with warranty that our products will remain intact for years to come.</p>
            <a class="btn btn-link btn-sm pull-right">Read More! <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-sm-4">
            <img src="~/img/ruler.png" class="img-responsive center-block">
            <h3 class="text-center">Customer Service</h3>
            <p class="text-center">Even if some issue occures in our product, we provide our clients with best customer care. For client facilitation we have separate department for such purpose.</p>
            <a class="btn btn-link btn-sm pull-right">Read More! <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-sm-4">
            <img src="~/img/box.png" class="img-responsive center-block">
            <h3 class="text-center">Order Management</h3>
            <p class="text-center">We provide our member clients with facility to manage their orders. They can cancel or modify their orders anytime and report issues to admin as well.</p>
            <a class="btn btn-link btn-sm pull-right">Read More! <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
    <!-- /.row -->
</div>